@import "tailwindcss";

/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --font-sans: 'Sora', sans-serif;
}

/* Mode sombre (si tu veux un jour) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

/* Styles globaux */
body {
  background-color: #ffffff !important;
  color: #171717;
  font-family: var(--font-sora), sans-serif;
  @apply antialiased;
}

html, body {
  background-color: #ffffff !important;
  color: #171717 !important;
  scroll-behavior: smooth;
}
